user_uuid="deeb2160-922e-49b8-8b04-bd688f1ad04a"
bucket_name="iewlkhtw4h9ctojow8z08z5j2cmlemn3"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"